.container {
  display: flex;
  margin: 0 10rem;
  height: 100vh;
}

.left_col {
  width: 200px;
  background-color: aquamarine;
}

.right_col {
  flex-grow: 1;
  background-color: pink;
}

.logo {
  width: 100px;
  margin: 0 auto;
  display: block;
}

.active {
  color: blue!important;
  font-weight: bold;
}